.vs/
.idea/
bin/
obj/
TestResults/
*.user
*.suo
*.nupkg
*.snupkg
appsettings.*.json
!appsettings.example.json
!tests/Umbraco.EditorialDigest.Tests/appsettings.Tests.json
appsettings-schema*.json
tests/Umbraco.EditorialDigest.Tests/umbraco-package-schema.json
samples/
